<div style="margin-top: 5rem;">


    <div class="container">

        <h1>Zone-wise Civic Complaints of Municipal Corporation of Delhi (MCD) and Delhi Jal Board (DJB) </h1>
        <div class="designFlex">

            <div class="canvasStyle">
                <canvas id="complaintsChart"> {{ complaintsChart }} </canvas>
            </div>

            <div class="dataStyle">

                
                <div class="borders">
                    <div class="data">East Delhi Municipal Corporation (EDMC)</div>
                    <div style="margin-left: 1rem;">
                        <div class="borders">
                            <div class="data">
                                Shahdara North
                            </div>
                            <div class="designFlex">
                                <div>
                                    <div class="year">
                                        2015
                                    </div>
                                    <div class="data">
                                        30,993
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2016
                                    </div>
                                    <div class="data">
                                        42,187
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2017
                                    </div>
                                    <div class="data">
                                        34,769
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2018
                                    </div>
                                    <div class="data">
                                        29,559
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        Change %
                                    </div>
                                    <div class="data" style="color: green;">
                                        -5%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lastData">
                            <div class="data">
                                Shahdara South
                            </div>
                            <div class="designFlex">
                                <div>
                                    <div class="year">
                                        2015
                                    </div>
                                    <div class="data">
                                        24,645
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2016
                                    </div>
                                    <div class="data">
                                        35,966
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2017
                                    </div>
                                    <div class="data">
                                        33,742
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2018
                                    </div>
                                    <div class="data">
                                        41,098
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        Change %
                                    </div>
                                    <div class="data" style="color: red;">
                                        67%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="borders">
                    <div class="data">South Delhi Municipal Corporation (SDMC)</div>
                    <div style="margin-left: 1rem;">
                        <div class="borders">
                            <div class="data">
                                Central
                            </div>
                            <div class="designFlex">
                                <div>
                                    <div class="year">
                                        2015
                                    </div>
                                    <div class="data">
                                        39,929
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2016
                                    </div>
                                    <div class="data">
                                        46,089
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2017
                                    </div>
                                    <div class="data">
                                        38,350
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2018
                                    </div>
                                    <div class="data">
                                        30,336
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        Change %
                                    </div>
                                    <div class="data" style="color: green;">
                                        -24%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="borders">
                            <div class="data">
                                West
                            </div>
                            <div class="designFlex">
                                <div>
                                    <div class="year">
                                        2015
                                    </div>
                                    <div class="data">
                                        45,526
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2016
                                    </div>
                                    <div class="data">
                                        61,939
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2017
                                    </div>
                                    <div class="data">
                                        47,934
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2018
                                    </div>
                                    <div class="data">
                                        40,076
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        Change %
                                    </div>
                                    <div class="data" style="color: green;">
                                        -12%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="borders">
                            <div class="data">
                                South
                            </div>
                            <div class="designFlex">
                                <div>
                                    <div class="year">
                                        2015
                                    </div>
                                    <div class="data">
                                        40,861
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2016
                                    </div>
                                    <div class="data">
                                        52,153
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2017
                                    </div>
                                    <div class="data">
                                        43,439
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2018
                                    </div>
                                    <div class="data">
                                        33,739
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        Change %
                                    </div>
                                    <div class="data" style="color: green;">
                                        -17%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lastData">
                            <div class="data">
                                Najafgarh
                            </div>
                            <div class="designFlex">
                                <div>
                                    <div class="year">
                                        2015
                                    </div>
                                    <div class="data">
                                        25,604
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2016
                                    </div>
                                    <div class="data">
                                        30,990
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2017
                                    </div>
                                    <div class="data">
                                        25,229
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2018
                                    </div>
                                    <div class="data">
                                        22,636
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        Change %
                                    </div>
                                    <div class="data" style="color: green;">
                                        -12%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="borders">
                    <div class="data">North Delhi Municipal Corporation (NDMC)</div>
                    <div style="margin-left: 1rem;">
                        <div class="borders">
                            <div class="data">
                                Rural Narela
                            </div>
                            <div class="designFlex">
                                <div>
                                    <div class="year">
                                        2015
                                    </div>
                                    <div class="data">
                                        10,454
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2016
                                    </div>
                                    <div class="data">
                                        16,343
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2017
                                    </div>
                                    <div class="data">
                                        12,252
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2018
                                    </div>
                                    <div class="data">
                                        17,047
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        Change %
                                    </div>
                                    <div class="data" style="color: red;">
                                        63%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="borders">
                            <div class="data">
                                Karol Bagh
                            </div>
                            <div class="designFlex">
                                <div>
                                    <div class="year">
                                        2015
                                    </div>
                                    <div class="data">
                                        23,360
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2016
                                    </div>
                                    <div class="data">
                                        29,672
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2017
                                    </div>
                                    <div class="data">
                                        30,539
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2018
                                    </div>
                                    <div class="data">
                                        29,009
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        Change %
                                    </div>
                                    <div class="data" style="color: red;">
                                        24%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="borders">
                            <div class="data">
                                Rohini
                            </div>
                            <div class="designFlex">
                                <div>
                                    <div class="year">
                                        2015
                                    </div>
                                    <div class="data">
                                        36,008
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2016
                                    </div>
                                    <div class="data">
                                        48,908
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2017
                                    </div>
                                    <div class="data">
                                        43,913
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2018
                                    </div>
                                    <div class="data">
                                        28,040
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        Change %
                                    </div>
                                    <div class="data" style="color: green;">
                                        -22%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lastData">
                            <div class="data">
                                Civil Lines
                            </div>
                            <div class="designFlex">
                                <div>
                                    <div class="year">
                                        2015
                                    </div>
                                    <div class="data">
                                        40,060
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2016
                                    </div>
                                    <div class="data">
                                        54,768
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2017
                                    </div>
                                    <div class="data">
                                        51,553
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        2018
                                    </div>
                                    <div class="data">
                                        26,493
                                    </div>
                                </div>
                                <div>
                                    <div class="year">
                                        Change %
                                    </div>
                                    <div class="data" style="color: green;">
                                        -34%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>