<div class="designFlex" style="margin-top: 5rem;">

    <div class="canvasStyle">
        <canvas id="complaintsChart" > {{ complaintsChart }} </canvas>
    </div>

    <div class="dataStyle">
        <div class="borders">
            <div>
                Shahdara North
            </div>
            <div class="designFlex">
                <div>
                    <div>
                        2015
                    </div>
                    <div>
                        30,993
                    </div>
                </div>
                <div>
                    <div>
                        2016
                    </div>
                    <div>
                        42,187
                    </div>
                </div>
                <div>
                    <div>
                        2017
                    </div>
                    <div>
                        34,769
                    </div>
                </div>
                <div>
                    <div>
                        2018
                    </div>
                    <div>
                        29,559
                    </div>
                </div>
            </div>
        </div>
        <div class="borders">
            <div>
                Shahdara South
            </div>
            <div class="designFlex">
                <div>
                    <div>
                        2015
                    </div>
                    <div>
                        24,645
                    </div>
                </div>
                <div>
                    <div>
                        2016
                    </div>
                    <div>
                        35,966
                    </div>
                </div>
                <div>
                    <div>
                        2017
                    </div>
                    <div>
                        33,742
                    </div>
                </div>
                <div>
                    <div>
                        2018
                    </div>
                    <div>
                        41,098
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>