<div class="container">

    <h1 style="font-size: 3.5rem; padding: 3rem 0;">Municipalities Budget Mumbai vs Delhi (2017)</h1>

    <div class="designFlex">
        <div>
            <h1>Revenue of Municipal Corporation of Delhi</h1>
            <div class="canvasStyleCharts">
                <canvas id="pieChartDelhiRevenue"> {{ pieChartDelhiRevenue }} </canvas>
            </div>
        </div>

        <div>
            <h1>Expenditure of Municipal Corporation of Delhi</h1>
            <div class="canvasStyleCharts">
                <canvas id="pieChartDelhiExpenditure"> {{ pieChartDelhiExpenditure }} </canvas>
            </div>
        </div>
    </div>

    <div class="designFlex">
        <div>
            <h1>Revenue of BrihanMumbai Municipal Corporation</h1>
            <div class="canvasStyleCharts">
                <canvas id="pieChartMumbaiRevenue"> {{ pieChartDelhiRevenue }} </canvas>
            </div>
        </div>

        <div>
            <h1>Expenditure of BrihanMumbai Municipal Corporation</h1>
            <div class="canvasStyleCharts">
                <canvas id="pieChartMumbaiExpenditure"> {{ pieChartDelhiExpenditure }} </canvas>
            </div>
        </div>
    </div>


</div>