<div class="container">

    <mat-tab-group>

        <mat-tab class="hello" label="Aam Aadmi Party (AAP)">

            <div style="margin-top: 2rem;">

                <div  style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                        <h1 style="font-size: 3.5rem; padding: 3rem 0;">AAP MANIFESTO SUB-POINTS</h1>
                    </div>
            
                    <div>
                        <img style="width: 350px; height: 130px;" src="../../../assets/images/Logo.png" />
                    </div>
                </div>

                <div style="display: flex; justify-content: space-evenly; align-items: center; gap: 2rem;" >
                    <div>
                        <img style="height: rem; width: 30rem; border-radius: 1rem;" src="https://pbs.twimg.com/media/FhQ0OO3akAA-PaV?format=jpg&name=900x900" />
                    </div>

                    <div>
                        <mat-list>
                            <mat-list-item> <span style="font-size: 1.5rem;"> 1. Financial Problems - AAP has loudly proclaimed to make MCD profitable within a year of its takeover. </span>  </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item> <span style="font-size: 1.5rem"> 2. Healthcare - AAP has vowed to free all tests and medications in MCD clinics, hospitals, and Mohalla clinics.</span> </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item> <span style="font-size: 1.5rem"> 3. CM Kejriwal also promised to repair broken roads in the city.</span></mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item> <span style="font-size: 1.5rem"> 4. In a bid to provide relief to the traders, CM Kejriwal promised to scrap conversion charges. </span></mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item> <span style="font-size: 1.5rem"> 5. The AAP has also promised vending zone for vendors, assuring them they won't have to pay bribes. </span></mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item><span style="font-size: 1.5rem">  6. All MCD employees will get their salaries on time, CM Kejriwal promised.</span></mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item><span style="font-size: 1.5rem">  7. Most importantly, CM said the AAP will clear three landfill sites in the city. </span></mat-list-item>
                          </mat-list>
                    </div>
                      
                </div>

            </div>

        </mat-tab>

        <mat-tab label="Bhartiye Janta Party (BJP)">
            <div style="margin-top: 2rem;">
                <div>
                    <h1>BJP Manifesto Sub-Points</h1>
                </div>

                <div>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Animal welfare/Stray animals
                                </mat-panel-title>
                                <mat-panel-description>
                                    This is a summary of the content
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. Monkeys will be moved from residential colonies and taken to protected forests</p>
                            <p>2. Measures will be taken to reduce the population of stray dogs and strays roaming on
                                the streets will
                                be sent
                                to animal homes</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Budget
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. Directly transferring funds to Delhi Municipal Corporations. If Delhi government does
                                not transfer
                                funds,
                                central government will transfer the funds and the amount will be deducted from the
                                state government's
                                budget
                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Buildings & Housing
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. On plots less than 105 square metres, maps will not need to passed. For plots less
                                than 500 metres, there will be no compulsion to pass maps.
                            </p>
                            <p>2. Solar energy plants will be installed and buildings will be encouraged to use solar
                                energy</p>
                            <p>3. Delhi government will be pressurised to legalize unauthorised colonies</p>
                            <p>4. Dairy colonies will be developed for easy availability of milk and milk products for
                                citizens.</p>
                            <p>5. Rainwater harvesting will be implemented</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Environment/pollution
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. Special trees will be planted to reduce air pollution</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Garden/open spaces
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. World-class gardens will be created and will be equipped with spaces for children to
                                play</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Municipal School Education
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. Smart classrooms will be made Municipal schools and provision for world-class
                                education will be made.
                                Study
                                of English and computers will be made compulsory.
                            </p>
                            <p>2. 'Adoption scheme' will be started through partnership of private schools and Municipal
                                schools</p>
                            <p>3. Health insurance scheme for Municipal students</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Licensing and Hawking
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. Single window system for all licences with minimum documents.
                            </p>
                            <p>2. Small industries to be exempted from factory licences</p>
                            <p>3. Hawkers will be registered under the scheme of 'Security of hawkers rules, 2014 so
                                that they can get
                                loans
                                easily without mortgage</p>
                            <p>4. All services will be provided online</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Public Health

                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. Virtual consultancy facility will be made available to PHCs; this will be linked to
                                large hospitals.
                            </p>
                            <p>2. 100% vaccination will be carried out for diseases such as tetanus, whooping cough,
                                diphtheria, etc.</p>
                            <p>3. Citizens will be given a permanent health card, hospitals will provide childbirth
                                services, nutritious food,
                                services for women and children.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Roads & Transport
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. Cement concrete roads will be built to replace tar ones to ensure better maintenance.
                            </p>
                            <p>2. Underground channels will be created so that roads do not have to be dug up repeatedly
                                for providing services.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Solid Waste Management (SWM)
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. Debris from landfill sites will be used for highway construction.</p>
                            <p>2. Delhi will be made debris-free by establishing C and D waste plant.</p>
                            <p>3. Modern equipment’s to be used for maintaining cleanliness.</p>
                            <p>4. Night cleaning will be carried out in market places</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Roads & Transport
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. Cement concrete roads will be built to replace tar ones to ensure better maintenance.
                            </p>

                            <p>2. Underground channels will be created so that roads do not have to be dug up repeatedly
                                for providing services.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Women, children, youth & Welfare of youth / Senior citizens
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. Under the 'Start-Up India' scheme, businesses started by women will be encouraged.</p>
                            <p>2. Special facilities for community centres without increasing their fees.</p>
                            <p>3. Social security card for unorganised workers such as rickshaw drivers, hawkers,
                                domestic works, etc.</p>
                            <p>4. More ghats for Chhath will be set up, developed and maintained.</p>
                            <p>5. Weekly markets will be given services and special schemes for consumers and vendors.
                            </p>
                        </mat-expansion-panel>

                    </mat-accordion>
                </div>

            </div>
        </mat-tab>
        <mat-tab label="Indian National Congress (INC)">

            <div style="margin-top: 2rem;">

                <div>
                    <h1>INC Manifesto Sub-Points</h1>
                </div>

                <div>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Animal welfare/Stray animals
                                </mat-panel-title>
                                <mat-panel-description>
                                    This is a summary of the content
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. Monkeys will be moved from residential colonies and taken to protected forests</p>
                            <p>2. Measures will be taken to reduce the population of stray dogs and strays roaming on
                                the streets will
                                be sent
                                to animal homes</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Budget
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. Directly transferring funds to Delhi Municipal Corporations. If Delhi government does
                                not transfer
                                funds,
                                central government will transfer the funds and the amount will be deducted from the
                                state government's
                                budget
                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Buildings & Housing
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. On plots less than 105 square metres, maps will not need to passed. For plots less
                                than 500 metres,
                                there will
                                be no compulsion to pass maps.
                            </p>
                            <p>2. Solar energy plants will be installed and buildings will be encouraged to use solar
                                energy</p>
                            <p>3. Delhi government will be pressurised to legalize unauthorised colonies</p>
                            <p>4. Dairy colonies will be developed for easy availability of milk and milk products for
                                citizens.</p>
                            <p>5. Rainwater harvesting will be implemented</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Environment/pollution
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. Special trees will be planted to reduce air pollution</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Garden/open spaces
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. World-class gardens will be created and will be equipped with spaces for children to
                                play</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Municipal School Education
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. Smart classrooms will be made Municipal schools and provision for world-class
                                education will be made.
                                Study
                                of English and computers will be made compulsory.
                            </p>
                            <p>2. 'Adoption scheme' will be started through partnership of private schools and Municipal
                                schools</p>
                            <p>3. Health insurance scheme for Municipal students</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Licensing and Hawking
                                </mat-panel-title>
                                <mat-panel-description>
                                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>1. . Single window system for all licences with minimum documents.
                            </p>
                            <p>2. Small industries to be exempted from factory licences</p>
                            <p>3. Hawkers will be registered under the scheme of 'Security of hawkers rules, 2014 so
                                that they can get
                                loans
                                easily without mortgage</p>
                            <p>4. All services will be provided online</p>
                        </mat-expansion-panel>

                    </mat-accordion>
                </div>

            </div>

        </mat-tab>
    </mat-tab-group>


</div>